{{!-- Footer Page --}}
<footer class="Footer">
  <div class="Footer-wrap">
    <div class="u-wrap">
      <div class="row">
        <div class="col s12 m7">
          <div class="Footer-copy">Copyright &copy; {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a> All rights reserved. Desing by GodoFredoNinja</a> </div>
        </div>
        <div class="col s12 m5">
          <ul class="Footer-social">
            {{!-- Link Social Media --}}
            <li class="Footer-socialItem"><a href="https://www.facebook.com/magicoolx" target="_blank" class="btn-floating waves-effect waves-light icon-facebook"></a></li>
            <li class="Footer-socialItem"><a href="https://twitter.com/magicoolx" target="_blank" class="btn-floating waves-effect waves-light icon-twitter"></a></li>
            <li class="Footer-socialItem"><a href="https://www.google.com/google.com/+ViviLo2015" target="_blank" class="btn-floating waves-effect waves-light icon-google"></a></li>
            <li class="Footer-socialItem"><a href="https://www.youtube.com/user/magicoolZyou" target="_blank" class="btn-floating waves-effect waves-light icon-youtube"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
